@{
    ViewData["Title"] = "Home Page";
    var ids = new List<int> { 1, 2, 3 };
}

@* modals with an embeded form*@
@foreach (var id in ids)
{
    <div>
        <a asp-action="ModalFormAction" asp-controller="Home" asp-route-id="@id" data-target="#modal-container" data-toggle="modal">Open Form Modal</a>
    </div>
}

@* The normal bootstrap modal with out any content in the modal-content div. Note that the id matches the data_target from the link*@
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    @* The normal bootstrap behavior is to only grab the content for the modal once, if you need to pull in different partial views then the data on the modal will have to be cleared.*@
    <script type="text/javascript">
        $(function () {
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
                $('#modal-container .modal-content').empty();
            });
        });
    </script>
}
